<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Test send password khi đăng ký tài khoản hotel</h2>
    <p><strong>Password:</strong> <%= @user.password %></p>
  </body>
</html>