<div class="col s12">
  <table class="highlight">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% if @transaction_histories.present? %>
        <% @transaction_histories.each_with_index do |transaction, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= link_to transaction.token, user_transaction_path(transaction.token), :target => "_blank" %></td>
            <td><%= transaction.created_at.strftime("%d-%m-%Y %H:%M:%S") %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>